In [1]:
import pandas as pd
import numpy

In [2]:
file = "assets/data/plasticwastetrade-bycountry-1988-2018.csv"

In [14]:
df = pd.read_csv(file)
df2 = df.groupby('Reporter')
df

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Qty,Alt Qty Unit Code,Alt Qty Unit,Alt Qty,Netweight (kg),Gross weight (kg),Trade Value (US$),CIF Trade Value (US$),FOB Trade Value (US$),Flag
0,H5,2018,2018,2018,4,0,1,Import,20,Andorra,...,NaN,NaN,5.0,NaN,5.0,NaN,21,NaN,NaN,0
1,H5,2018,2018,2018,4,0,2,Export,20,Andorra,...,NaN,NaN,1061790.0,NaN,1061790.0,NaN,260004,NaN,NaN,0
2,H5,2018,2018,2018,6,1,2,Export,20,Andorra,...,NaN,NaN,1100.0,NaN,1100.0,NaN,32640,NaN,NaN,0
3,H5,2018,2018,2018,6,1,1,Import,20,Andorra,...,NaN,NaN,5.0,NaN,5.0,NaN,21,NaN,NaN,0
4,H5,2018,2018,2018,6,1,2,Export,20,Andorra,...,NaN,NaN,1060690.0,NaN,1060690.0,NaN,227364,NaN,NaN,0
5,H5,2018,2018,2018,4,0,1,Import,31,Azerbaijan,...,NaN,NaN,4041242.0,NaN,4041242.0,NaN,1647736,NaN,NaN,0
6,H5,2018,2018,2018,4,0,2,Export,31,Azerbaijan,...,NaN,NaN,19000.0,NaN,19000.0,NaN,2850,NaN,NaN,0
7,H5,2018,2018,2018,6,1,1,Import,31,Azerbaijan,...,NaN,NaN,874578.0,NaN,874578.0,NaN,464901,NaN,NaN,0
8,H5,2018,2018,2018,6,1,1,Import,31,Azerbaijan,...,NaN,NaN,437449.0,NaN,437449.0,NaN,199270,NaN,NaN,0
9,H5,2018,2018,2018,6,1,1,Import,31,Azerbaijan,...,NaN,NaN,2729215.0,NaN,2729215.0,NaN,983564,NaN,NaN,0
10,H5,2018,2018,2018,6,1,2,Export,31,Azerbaijan,...,NaN,NaN,19000.0,NaN,19000.0,NaN,2850,NaN,NaN,0
11,H5,2018,2018,2018,4,0,1,Import,32,Argentina,...,NaN,NaN,39010.0,NaN,39010.0,NaN,22053,NaN,NaN,0
12,H5,2018,2018,2018,6,1,1,Import,32,Argentina,...,NaN,NaN,39010.0,NaN,39010.0,NaN,22053,NaN,NaN,0
13,H5,2018,2018,2018,4,0,1,Import,51,Armenia,...,NaN,NaN,40004.0,NaN,40004.0,NaN,5421,NaN,NaN,0
14,H5,2018,2018,2018,4,0,2,Export,51,Armenia,...,NaN,NaN,169382.0,NaN,169382.0,NaN,59698,NaN,NaN,0
15,H5,2018,2018,2018,6,1,1,Import,51,Armenia,...,NaN,NaN,1.0,NaN,1.0,NaN,164,NaN,NaN,0
16,H5,2018,2018,2018,6,1,2,Export,51,Armenia,...,NaN,NaN,169382.0,NaN,169382.0,NaN,59698,NaN,NaN,0
17,H5,2018,2018,2018,6,1,1,Import,51,Armenia,...,NaN,NaN,750.0,NaN,750.0,NaN,825,NaN,NaN,0
18,H5,2018,2018,2018,6,1,1,Import,51,Armenia,...,NaN,NaN,39253.0,NaN,39253.0,NaN,4432,NaN,NaN,0
19,H5,2018,2018,2018,4,0,1,Import,60,Bermuda,...,NaN,NaN,107.0,NaN,107.0,NaN,1989,NaN,NaN,0
20,H5,2018,2018,2018,4,0,2,Export,60,Bermuda,...,NaN,NaN,1.0,NaN,1.0,NaN,50,NaN,NaN,0
21,H5,2018,2018,2018,4,0,1,Import,68,Bolivia (Plurinational State of),...,NaN,NaN,392252.0,NaN,392549.0,NaN,192839,NaN,NaN,0
22,H5,2018,2018,2018,4,0,2,Export,68,Bolivia (Plurinational State of),...,NaN,NaN,821796.0,NaN,821796.0,NaN,297581,NaN,NaN,0
23,H5,2018,2018,2018,6,1,1,Import,68,Bolivia (Plurinational State of),...,NaN,NaN,217660.0,NaN,217662.0,NaN,122610,NaN,NaN,0
24,H5,2018,2018,2018,6,1,2,Export,68,Bolivia (Plurinational State of),...,NaN,NaN,737396.0,NaN,737396.0,NaN,259287,NaN,NaN,0
25,H5,2018,2018,2018,6,1,1,Import,68,Bolivia (Plurinational State of),...,NaN,NaN,59.0,NaN,60.0,NaN,680,NaN,NaN,0
26,H5,2018,2018,2018,6,1,1,Import,60,Bermuda,...,NaN,NaN,30.0,NaN,30.0,NaN,1204,NaN,NaN,0
27,H5,2018,2018,2018,6,1,1,Import,60,Bermuda,...,NaN,NaN,77.0,NaN,77.0,NaN,785,NaN,NaN,0
28,H5,2018,2018,2018,6,1,2,Export,60,Bermuda,...,NaN,NaN,1.0,NaN,1.0,NaN,50,NaN,NaN,0
29,H5,2018,2018,2018,6,1,1,Import,68,Bolivia (Plurinational State of),...,NaN,NaN,174533.0,NaN,174826.0,NaN,69548,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2659,H0,1988,1988,1988,4,0,1,Import,410,Rep. of Korea,...,NaN,NaN,39133288.0,NaN,39133288.0,NaN,18218416,NaN,NaN,0
2660,H0,1988,1988,1988,4,0,2,Export,410,Rep. of Korea,...,NaN,NaN,4295689.0,NaN,4295689.0,NaN,4150624,NaN,NaN,0
2661,H0,1988,1988,1988,6,1,1,Import,410,Rep. of Korea,...,NaN,NaN,718608.0,NaN,718608.0,NaN,228426,NaN,NaN,0
2662,H0,1988,1988,1988,6,1,2,Export,410,Rep. of Korea,...,NaN,NaN,215913.0,NaN,215913.0,NaN,171850,NaN,NaN,0
2663,H0,1988,1988,1988,6,1,1,Import,410,Rep. of Korea,...,NaN,NaN,272612.0,NaN,272612.0,NaN,275093,NaN,NaN,0
2664,H0,1988,1988,1988,6,1,2,Export,410,Rep. of Korea,...,NaN,NaN,97.0,NaN,97.0,NaN,110,NaN,NaN,0
2665,H0,1988,1988,1988,6,1,1,Import,410,Rep. of Korea,...,NaN,NaN,24249576.0,NaN,24249576.0,NaN,10586717,NaN,NaN,0
2666,H0,1988,1988,1988,6,1,2,Export,410,Rep. of Korea,...,NaN,NaN,660464.0,NaN,660464.0,NaN,163272,NaN,NaN,0
2667,H0,1988,1988,1988,6,1,1,Import,410,Rep. of Korea,...,NaN,NaN,13892490.0,NaN,13892490.0,NaN,7128180,NaN,NaN,0
2668,H0,1988,1988,1988,6,1,2,Export,410,Rep. of Korea,...,NaN,NaN,3419215.0,NaN,3419215.0,NaN,3815392,NaN,NaN,0
2669,H0,1998,1998,1998,4,0,1,Import,795,Turkmenistan,...,NaN,NaN,0.0,NaN,0.0,NaN,449,NaN,NaN,0
2670,H0,1998,1998,1998,4,0,1,Import,308,Grenada,...,NaN,NaN,339.0,NaN,339.0,NaN,151,NaN,NaN,0
2671,H0,1998,1998,1998,6,1,1,Import,308,Grenada,...,NaN,NaN,339.0,NaN,339.0,NaN,151,NaN,NaN,0
2672,H0,1998,1998,1998,4,0,1,Import,231,Ethiopia,...,NaN,NaN,1543762.0,NaN,1543762.0,NaN,1112226,NaN,NaN,0
2673,H0,1998,1998,1998,6,1,1,Import,231,Ethiopia,...,NaN,NaN,875500.0,NaN,875500.0,NaN,767333,NaN,NaN,0
2674,H0,1998,1998,1998,6,1,1,Import,231,Ethiopia,...,NaN,NaN,294425.0,NaN,294425.0,NaN,101685,NaN,NaN,0
2675,H0,1998,1998,1998,6,1,1,Import,231,Ethiopia,...,NaN,NaN,373837.0,NaN,373837.0,NaN,243208,NaN,NaN,0
2676,H0,1998,1998,1998,4,0,1,Import,780,Trinidad and Tobago,...,NaN,NaN,70268.0,NaN,70268.0,NaN,40943,NaN,NaN,0
2677,H0,1998,1998,1998,4,0,2,Export,780,Trinidad and Tobago,...,NaN,NaN,208135.0,NaN,208135.0,NaN,92709,NaN,NaN,0
2678,H0,1998,1998,1998,6,1,1,Import,780,Trinidad and Tobago,...,NaN,NaN,70268.0,NaN,70268.0,NaN,40943,NaN,NaN,0
2679,H0,1998,1998,1998,6,1,2,Export,780,Trinidad and Tobago,...,NaN,NaN,208135.0,NaN,208135.0,NaN,92709,NaN,NaN,0
2680,H0,1988,1988,1988,4,0,1,Import,699,India,...,NaN,NaN,10691948.0,NaN,10691948.0,NaN,4451976,NaN,NaN,0
2681,H0,1988,1988,1988,4,0,2,Export,699,India,...,NaN,NaN,321276.0,NaN,321276.0,NaN,104321,NaN,NaN,0
2682,H0,1988,1988,1988,6,1,1,Import,699,India,...,NaN,NaN,317307.0,NaN,317307.0,NaN,122828,NaN,NaN,0
2683,H0,1988,1988,1988,6,1,1,Import,699,India,...,NaN,NaN,12875.0,NaN,12875.0,NaN,3556,NaN,NaN,0
2684,H0,1988,1988,1988,6,1,1,Import,699,India,...,NaN,NaN,10361766.0,NaN,10361766.0,NaN,4325592,NaN,NaN,0
2685,H0,1988,1988,1988,6,1,2,Export,699,India,...,NaN,NaN,321276.0,NaN,321276.0,NaN,104321,NaN,NaN,0
2686,H0,1998,1998,1998,4,0,1,Import,96,Brunei Darussalam,...,NaN,NaN,6049.0,NaN,6049.0,NaN,25290,NaN,NaN,0
2687,H0,1998,1998,1998,6,1,1,Import,96,Brunei Darussalam,...,NaN,NaN,24.0,NaN,24.0,NaN,314,NaN,NaN,0
2688,H0,1998,1998,1998,6,1,1,Import,96,Brunei Darussalam,...,NaN,NaN,6025.0,NaN,6025.0,NaN,24976,NaN,NaN,0

In [21]:
df2 = df.iloc[:,[1,6,7,8,9,29,31]]

In [22]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [23]:
connection_string = "root:root@localhost/plasticdb"
engine = create_engine(f'mysql://{connection_string}')

In [25]:
df2.to_sql(name='trades', con= engine, if_exists='append', index=False)