In [3]:
import pandas as pd
import numpy

In [12]:
# read files
filename = "epa_data/1 Materials Generated in the U.S. Municipal Waste Stream, 1960 to 2015 (in tons).csv"
gw = pd.read_csv(filename)

In [28]:
# filter specific rows
gw1 = gw.loc[[0,1,5,6,9],:]
gw1.head()

,Materials,1960,1970,1980,1990,2000,2005,2010,2011,2012,2013,2014,2015,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,Products - Paper and Paperboard,29990000.0,44310000.0,55160000.0,72730000.0,87740000.0,84840000.0,71310000.0,69950000.0,68620000.0,68550000.0,68610000.0,68050000.0,NaN,NaN,NaN,NaN,NaN
1,Products - Glass,6720000.0,12740000.0,15130000.0,13100000.0,12770000.0,12540000.0,11520000.0,11490000.0,11590000.0,11540000.0,11480000.0,11470000.0,NaN,NaN,NaN,NaN,NaN
5,Products - Metals - Total,10820000.0,13830000.0,15510000.0,16550000.0,18940000.0,20400000.0,22450000.0,22190000.0,22430000.0,23420000.0,23640000.0,24000000.0,NaN,NaN,NaN,NaN,NaN
6,Products - Plastics,390000.0,2900000.0,6830000.0,17130000.0,25550000.0,29380000.0,31400000.0,32100000.0,32070000.0,32750000.0,33390000.0,34500000.0,NaN,NaN,NaN,NaN,NaN
9,Products - Wood,3030000.0,3720000.0,7010000.0,12210000.0,13570000.0,14790000.0,15710000.0,15780000.0,15820000.0,15770000.0,16120000.0,16300000.0,NaN,NaN,NaN,NaN,NaN

In [18]:
# set up for new dataframe
years =  ['1960', '1970', '1980', '1990', '2000', '2005', '2010', '2011', '2012', '2013', '2014', '2015']
col_names = ['generated', 'recycled', 'combusted', 'landfilled']
row_names = ['paper_paperboard', 'glass', 'metals', 'plastic', 'wood']
# df = pd.DataFrame(columns = years)

In [29]:
# create a dataframe for each year
d = {}
for year in years:
    d[year] = pd.DataFrame(index = row_names, columns = col_names)
    ydf = d[year]
    for df in ydf:
        ydf["generated"] = gw1["1960"]

In [30]:
#grab column 1, row 0 and put it in df[paper_paperboard]
d

{'1960':                   generated recycled combusted landfilled
 paper_paperboard        NaN      NaN       NaN        NaN
 glass                   NaN      NaN       NaN        NaN
 metals                  NaN      NaN       NaN        NaN
 plastic                 NaN      NaN       NaN        NaN
 wood                    NaN      NaN       NaN        NaN,
 '1970':                   generated recycled combusted landfilled
 paper_paperboard        NaN      NaN       NaN        NaN
 glass                   NaN      NaN       NaN        NaN
 metals                  NaN      NaN       NaN        NaN
 plastic                 NaN      NaN       NaN        NaN
 wood                    NaN      NaN       NaN        NaN,
 '1980':                   generated recycled combusted landfilled
 paper_paperboard        NaN      NaN       NaN        NaN
 glass                   NaN      NaN       NaN        NaN
 metals                  NaN      NaN       NaN        NaN
 plastic                 NaN      NaN       NaN        NaN
 wood                    NaN      NaN       NaN        NaN,
 '1990':                   generated recycled combusted landfilled
 paper_paperboard        NaN      NaN       NaN        NaN
 glass                   NaN      NaN       NaN        NaN
 metals                  NaN      NaN       NaN        NaN
 plastic                 NaN      NaN       NaN        NaN
 wood                    NaN      NaN       NaN        NaN,
 '2000':                   generated recycled combusted landfilled
 paper_paperboard        NaN      NaN       NaN        NaN
 glass                   NaN      NaN       NaN        NaN
 metals                  NaN      NaN       NaN        NaN
 plastic                 NaN      NaN       NaN        NaN
 wood                    NaN      NaN       NaN        NaN,
 '2005':                   generated recycled combusted landfilled
 paper_paperboard        NaN      NaN       NaN        NaN
 glass                   NaN      NaN       NaN        NaN
 metals                  NaN      NaN       NaN        NaN
 plastic                 NaN      NaN       NaN        NaN
 wood                    NaN      NaN       NaN        NaN,
 '2010':                   generated recycled combusted landfilled
 paper_paperboard        NaN      NaN       NaN        NaN
 glass                   NaN      NaN       NaN        NaN
 metals                  NaN      NaN       NaN        NaN
 plastic                 NaN      NaN       NaN        NaN
 wood                    NaN      NaN       NaN        NaN,
 '2011':                   generated recycled combusted landfilled
 paper_paperboard        NaN      NaN       NaN        NaN
 glass                   NaN      NaN       NaN        NaN
 metals                  NaN      NaN       NaN        NaN
 plastic                 NaN      NaN       NaN        NaN
 wood                    NaN      NaN       NaN        NaN,
 '2012':                   generated recycled combusted landfilled
 paper_paperboard        NaN      NaN       NaN        NaN
 glass                   NaN      NaN       NaN        NaN
 metals                  NaN      NaN       NaN        NaN
 plastic                 NaN      NaN       NaN        NaN
 wood                    NaN      NaN       NaN        NaN,
 '2013':                   generated recycled combusted landfilled
 paper_paperboard        NaN      NaN       NaN        NaN
 glass                   NaN      NaN       NaN        NaN
 metals                  NaN      NaN       NaN        NaN
 plastic                 NaN      NaN       NaN        NaN
 wood                    NaN      NaN       NaN        NaN,
 '2014':                   generated recycled combusted landfilled
 paper_paperboard        NaN      NaN       NaN        NaN
 glass                   NaN      NaN       NaN        NaN
 metals                  NaN      NaN       NaN        NaN
 plastic                 NaN      NaN       NaN        NaN
 wood                    NaN      NaN       NaN        NaN,
 '2015':                   generated recycled combusted landfilled
 paper_paperboard        NaN      NaN       NaN        NaN
 glass                   NaN      NaN       NaN        NaN
 metals                  NaN      NaN       NaN        NaN
 plastic                 NaN      NaN       NaN        NaN
 wood                    NaN      NaN       NaN        NaN}